<ion-header>
  <ion-toolbar>
    <ion-title>
      Sistem Informasi Asuransi Tani
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="secondary">
	<ion-list lines="none" color="secondary">
      <ion-list-header color="secondary">
        <ion-label><h2>Login</h2></ion-label>
      </ion-list-header>
      <ion-item>
        <ion-icon slot="start" color="medium" name="happy"></ion-icon>
        <ion-label length="200">Username</ion-label>
		<ion-input name="username" placeholder="input username"></ion-input>
      </ion-item>
      <ion-item>
        <ion-icon slot="start" color="medium" name="key"></ion-icon>
        <ion-label length="200">Password</ion-label>
		<ion-input name="password" placeholder="input password" type="password"></ion-input>
      </ion-item>
	  
	  <ion-item>
        <ion-button color="primary">Submit</ion-button>
      </ion-item>
      
    </ion-list>
</ion-content>
